
.header{position:fixed;width:100%;top:0;left:0;z-index:9;}

.nav{
  position:fixed;
  width:100%;height:40px;top:0.88rem;
  -webkit-box-orient:horizontal;-moz-box-orient:horizontal;box-orient:horizontal;
  display:-moz-box;
  display:-webkit-box;
  display:box;
  box-sizing: border-box;
  border-bottom:1px solid #ccc;
}
.nav-item{
  line-height:38px;
  margin-bottom: -1px;
  text-align: center;
  padding:0 5px;
  box-sizing: border-box;
  -moz-box-flex:3;
  -webkit-box-flex:3;
  box-flex:3;
  font-size: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  word-break: break-all;
}
.active-item{border-bottom:2px solid #007aff;color:#007aff;}

.search-box{
  position:fixed;top:calc(0.88rem + 40px);bottom:0.9rem;left:0;right:0;overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
}
.swiper-container {
  width: 100%;
  /* line-height: 28px; */
}
.swiper-slide .weui-cells{font-size: 0.25rem;}
.weui-cell{border-bottom:1px solid #3cadf9;box-sizing: border-box;height: 40px;}

.weui-cells{margin-top: 0;}




/*
.showContent {
  position: relative;
  background-color: #FFFFFF;
  height: calc(100% - 64px);
}

.calendarListCell {
  display: flex;
  padding: 15px 10px;
  padding-right: 0;
  border-bottom: solid 1px #e5f0f4;
}

.calendarListCell .calendarListCellLeft {
  flex: 6;
  margin: auto 0;
  line-height: 15px;
}

.calendarListCell .calendarListCellMiddle {
  flex: 10;
  margin: auto 0;
  padding-left: 10px;
  line-height: 20px;
  text-align: right;
}
.calendarListCell .calendarListCellMiddleInput
{
  width: calc(100% - 10px)
}
.calendarListCell .calendarListCellMiddle .calendarListCellMiddleContent {
  width: 4rem;
  font-size: 15px;
  height: 20px;
  line-height: 20px;
  float: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.calendarListCell .calendarListCellMiddle .calendarListCellMiddleContent:after {
  clear: both;
}

.calendarListCell .calendarListCellMiddleInput input {
  outline: none;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  width: 100%;
  margin: auto 0;
  border: none;
  background-color: none;
}

.calendarListCell .calendarListCellRight {
  flex: 1;
  margin: auto 0;
}

.calendarListCell .calendarListCellRight .calc-you {
  color: #cdcdcd !important;
}

*/


.anniu {
  position:fixed;
  width: 100%;
  height:0.9rem;
  line-height:0.9rem;
  bottom: 0;
  font-size: 0.25rem;
  left:0;
  z-index: 3;
  display: flex;
}

.clear-btn,
.sure-btn {
  flex: 1;
  background-color: #F2F2F2;
  color: #000000;
  text-align: center;
}
.sure-btn {
  background-color: #FF5A21;
  color: #FFFFFF;
}

