html,p,span,ul,li,div{
  padding:0;margin: 0;
}
html,body{
    margin: 0;
    /* height: 100%; */
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   */
}
/*取消手机点击屏幕时，会出现的灰块*/
html,body{-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.allowselect{
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

}
body{ font-size: 0.28rem; line-height: 0.21rem;font-family: "Microsoft YaHei","arial";background: #fff;color:#333;}
html,body,#app{width: 100%;/*height: 100%;*/}
/* 字体大小规范 */
/*偏小*/
.f12{font-size: 0.24rem!important;font-family:"Microsoft YaHei","arial";}
/*正文*/
.f14{font-size: 0.28rem!important;font-family:"Microsoft YaHei","arial";}

/*段落标题*/
.f16{font-size: 0.32rem!important;font-family:"Microsoft YaHei","arial";}

.f18{font-size: 0.36rem!important;font-family:"Microsoft YaHei","arial";}


.a{color: #2a79c8;}

 /*
  浮动
  */
.left{float: left;}
.right{float: right; }
.clear{clear: both;height: 0;overflow: hidden;line-height: 0;}

/*禁止点击*/
.disable{
    pointer-events: none;
}

.sticky{
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}

/*
  loading样式
*/
.loadmore-position{position: fixed;z-index: 5000;left: 17.5%;top:40%;}
.bg_black_loading{background: rgba(0,0,0,0.3);min-height:0.6rem;min-width:0.6rem;
    display: inline-block;padding:0.2rem;border-radius:0.1rem;color:#fff;  }
.weui-loading{width:25px;height: 25px;}
.no_bg_loading{color:#808080;}
.weui-loadmore{font-size: 0.2rem;}

/*
   toast样式
*/
.toast-box{position:fixed;z-index:5000;left:0;bottom:20%;text-align:center;width:100%;}
.toast-text{
    font-size:0.25rem;line-height:0.45rem;background:rgba(0,0,0,0.5);padding:0.1rem 0.2rem;
    display:inline-block;margin:0 auto;border-radius:0.2rem; color:#fff;
}

/*
  $.confirm对话框样式调整
*/
.weui-dialog__bd{
  padding: 0.8em 1.6em 0.8em;
}

/*input标签在移动端出现圆角以及黑色阴影*/
input[type=text] { -moz-appearance:textfield!important;}
input[type=text]::-webkit-inner-spin-button,input[type=text]::-webkit-outer-spin-button { -webkit-appearance: none!important; margin: 0;}


/*给头部设置高度，避免js获取不准确*/
header{height: 0.88rem;}



/*picker组件*/

.picker-layer{position:fixed;z-index:998;top:0.88rem;bottom:0;left:0;right:0;background:rgba(0,0,0,0.2);}
.picker-div{position:relative;z-index:9;}

.picker{box-sizing: border-box;width: 100%;height:40px;border:0;text-align: right;
background:none;
outline: none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.weui-picker-container .toolbar .toolbar-inner{height: 41px!important;position:relative;}
.weui-picker-container .toolbar .picker-button{height: 41px;line-height:41px;font-size:0.3rem;color:#3cadf9;}

.toolbar .picker-button-clean{
    position: absolute; left: 0;-webkit-box-sizing: border-box; box-sizing: border-box;
    height: 41px; line-height:41px; color: #3cadf9; z-index: 1; padding: 0 .5rem;font-size:0.3rem;
}
.weui-picker-container .toolbar .picker-close{
    height: 41px;line-height: 41px; font-size: 0.3rem; position: absolute;left: 0;top:0;
    -webkit-box-sizing: border-box;box-sizing: border-box;z-index: 1; padding: 0 .5rem; color:#9b9b9b;
}
.weui-picker-container .toolbar .title{font-size:0.3rem;line-height: 41px;}
.weui-picker-container .weui-picker-modal .picker-modal-inner,.weui-picker-container .weui-picker-modal{height:220px;}
.weui-picker-container .weui-picker-modal .picker-item{font-size:0.3rem;height:36px;line-height:36px;}
.weui-picker-container-visible{background: rgba(0,0,0,0.2);height: 100%;top:0;}

.picker-items-col-divider{font-size:0.5rem!important;padding: 0 6px;}







/* checkbox

<label class="checkbox-label">
    <input type="checkbox" name="sex"/><i class="checkbox"></i> 男
</label>
<label class="checkbox-label">
    <input type="checkbox" disabled name="sex"/><i class="checkbox"></i> 女
</label>
*/
label.checkbox-label{padding:0;margin:0;}
label.checkbox-label input{
    position: absolute;
    visibility: hidden;
    width:0px;height: 0px;
    opacity: 0;
    padding:0;margin:0;box-sizing: border-box;
}
label.checkbox-label .checkbox {
    display: inline-block;
    position: relative;
    padding:0;margin:0;box-sizing: border-box;
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border: 1px solid #FF5A21;
    border-radius: 2px;
    vertical-align: middle;
    overflow: hidden;
}
label.checkbox-label input:checked + .checkbox {
    background: #FF5A21;
    border: 1px solid #FF5A21;
}
label.checkbox-label  input:checked + .checkbox:after {
    content: " ";
    width: 10px;
    height: 5px;
    border:2px solid #fff;
    position: absolute;
    top: 1px;
    left: 1px;
    transform: rotate(-45deg);
    pointer-events:none;
    -webkit-clip-path: inset(3px 3px 0px 0px);
    clip-path: inset(3px 3px 0px 0px);
}
/*禁止状态的radios*/
label.checkbox-label input:disabled + .checkbox {
    background-color: #e8e8e8;
    border: solid 1px #979797;
}
label.checkbox-label input:disabled:checked + .checkbox:after {
    color: #c1c1c1;
}



/* radio */
/*
<label class="radios-label">
    <input type="radio" name="sex"/><i class="radios"></i> 男
</label>
<label class="radios-label">
    <input type="radio" name="sex"/><i class="radios"></i> 女
</label>
*/
label.radios-label{padding:0;margin:0;}
label.radios-label input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
label.radios-label .radios {
    display: inline-block;
    position: relative;
    padding:0;margin:0;box-sizing: border-box;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #009979;
    border-radius: 50%;
    vertical-align: middle;
}
label.radios-label input:checked + .radios {
    background:#009979;
    border: 1px solid #009979;
}
label.radios-label input:checked + .radios:after {
    content: " ";
    width: 10px;
    height: 5px;
    border:2px solid #fff;
    position: absolute;
    top: 1px;
    left: 2px;
    transform: rotate(-45deg);
    pointer-events:none;
    -webkit-clip-path: inset(3px 3px 0px 0px);
    clip-path: inset(3px 3px 0px 0px);
}
/*禁止状态的radios*/
label.radios-label input:disabled + .radios {
    background-color: #e8e8e8;
    border: solid 1px #979797;
}
label.radios-label input:disabled:checked + .radios:after {
    background-color: #c1c1c1;
}

