header{
  position: relative;
  line-height: 0.2rem;
  background: #f8f2dc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
header .leftView {
  position: absolute;
  height: 0.88rem;
  width: 2.1rem;
  right: 0;
  padding-right: 0.1rem
}

header .header-title{
  right: 2.3rem;
  left: 0.8rem;
  display: inline-block;
  overflow: hidden;
  width: auto;
  font-size: 0.36rem;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  position: absolute;
  padding: 0;
  text-align: left;
  white-space: nowrap;
  line-height: 0.88rem;
  margin-left: -0.2rem;
}

header .calcfont {
  font-size: 0.48rem;
  width: 0.88rem;
  text-align: center;
  padding: 0.2rem 0;
  padding-right: 0.1rem;
  position: relative;
  z-index: 20;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  color: #333333;
}

header .calc-fanhui {
  margin-right: -0.2rem;
  margin-left: -0.2rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}
header .right {
  float: right;
  width: 0.6rem;
}
/* header .delete:after {
  clear: both;
} */
header .mui-title,
header a {
  color: #333333;
}
